.DS_Store
.git
.gitignore
.github
.idea
.vscode
node_modules
examples
tests
test.*

.editorconfig
.eslintignore
.eslintrc.json

tsconfig.json
jest.config.ts

prettier.config.js
.prettierignore

yarn.lock
